Connected Services/ServiceReference/MeuServidorWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MeuServidorWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/MeuServidorLocal?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/MeuServidorLocal?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContratoServidor_EnviaStrToServidor_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviaStrToServidor" />
  </wsdl:message>
  <wsdl:message name="IContratoServidor_EnviaStrToServidor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviaStrToServidorResponse" />
  </wsdl:message>
  <wsdl:message name="IContratoServidor_PegaStrFromServidor_InputMessage">
    <wsdl:part name="parameters" element="tns:PegaStrFromServidor" />
  </wsdl:message>
  <wsdl:message name="IContratoServidor_PegaStrFromServidor_OutputMessage">
    <wsdl:part name="parameters" element="tns:PegaStrFromServidorResponse" />
  </wsdl:message>
  <wsdl:portType name="IContratoServidor">
    <wsdl:operation name="EnviaStrToServidor">
      <wsdl:input wsam:Action="http://tempuri.org/IContratoServidor/EnviaStrToServidor" message="tns:IContratoServidor_EnviaStrToServidor_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IContratoServidor/EnviaStrToServidorResponse" message="tns:IContratoServidor_EnviaStrToServidor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PegaStrFromServidor">
      <wsdl:input wsam:Action="http://tempuri.org/IContratoServidor/PegaStrFromServidor" message="tns:IContratoServidor_PegaStrFromServidor_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IContratoServidor/PegaStrFromServidorResponse" message="tns:IContratoServidor_PegaStrFromServidor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContratoServidor" type="tns:IContratoServidor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviaStrToServidor">
      <soap:operation soapAction="http://tempuri.org/IContratoServidor/EnviaStrToServidor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PegaStrFromServidor">
      <soap:operation soapAction="http://tempuri.org/IContratoServidor/PegaStrFromServidor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeuServidorWebService">
    <wsdl:port name="BasicHttpBinding_IContratoServidor" binding="tns:BasicHttpBinding_IContratoServidor">
      <soap:address location="http://localhost:8080/MeuServidorLocal" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>