Connected Services/ServiceReference/MeuServidorLocal1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EnviaStrToServidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pMensagemEnviada" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaStrToServidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviaStrToServidorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PegaStrFromServidor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PegaStrFromServidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PegaStrFromServidorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>